<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/" class="navbar-left"><img src="/image/logo.png"></a>

            </div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Get))
            {
                <div class="pull-left" style="padding-top: 10px">
                    <input id="SearchString" value="" class="form-control" name="SearchString" type="text" placeholder="Find by name...">
                    <input type="submit" class="btn btn-success"value="Search" style="margin-top: -70px; margin-left: 285px "/>
                </div>
            }
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <p>
            <span class="glyphicon glyphicon-user" style="nav-left: "></span> Total Number of visitors: @ApplicationInstance.Application["Totaluser"]
        </p>
        <footer class="pull-right">
            <a href="/" class="navbar-center"><img src="/image/oil-logo.jpg"></a>
            <p>&copy; @DateTime.Now.Year - Codealerz Team. All rights reserved.</p>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
