@model Blog.Models.ArticleViewModel
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="well">
        <h2>Create Article</h2>
        @using (Html.BeginForm("Create", "Article", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new {@class = "control-label col-sm-4"})
                    <div class="col-sm-4 ">
                        @Html.TextBoxFor(m => m.Title, new {@class = "form-control",
                       placeholder = "E.g. Mercedes S-CLass 320 CDI"})
                       
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Year, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Year, new { @class = "form-control",
                       placeholder = "Year of production"
                   })
                    </div>
                </div>
               
                
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control",
                       placeholder = "+359##########"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Price, new {@class = "control-label col-sm-4"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.Price, new {@class = "form-control",
                       placeholder = "Price in BGN"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.HorsePower, new {@class = "control-label col-sm-4"})
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.HorsePower, new {@class = "form-control",
                       placeholder = "E.g. 110hp"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.City, new { @class = "control-label col-sm-4" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.City, new { @class = "form-control",
                       placeholder = "The city where is the car"
                   })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-4">
                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "7" })
                        </div>
                    </div>

                <div class="form-group">

                    @Html.LabelFor(m => m.CategoryId, new { @class = "col-sm-4 control-label" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.CategoryId,
                            new SelectList(Model.Categories, "Id", "Name"),
                            new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Condition, new { @class = " control-label col-sm-4" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.Condition,
                        new List<SelectListItem> {
                            new SelectListItem { Value = "New" , Text = "New" },
                            new SelectListItem { Value = "Used" , Text = "Used" },
                            new SelectListItem { Value = "New Import" , Text = "New Import" },
                            new SelectListItem { Value = "For Parts" , Text = "For Parts" }
                        },
                        new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.FuelType, new { @class = " control-label col-sm-4" })
                    <div class="dropdown col-sm-4">
                        @Html.DropDownListFor(m => m.FuelType,
                        new List<SelectListItem> {
                            new SelectListItem { Value = "Petrol" , Text = "Petrol" },
                            new SelectListItem { Value = "Diesel" , Text = "Diesel" },
                            new SelectListItem { Value = "Hybrid" , Text = "Hybrid" },
                        },
                        new { @class = "btn btn-info col-sm-12" })
                    </div>
                </div>
                <span class="form-group">
                        @Html.Label("Picture", new { @class = "control-label col-sm-4" })
                        <span class="col-sm-4">
                            <input type="file" id="Avatar" name="upload" />
                        </span>
                    </span>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Tags, new { @class = "control-label col-sm-4" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Tags, new { @class = "form-control col-sm-4" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "btn btn-default" })
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
