@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        
        @if (Model.Files.Any(f => f.FileType == Blog.Models.FileType.Avatar))
        {
            <dt>
                Picture
            </dt>
                <dd>
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" width="800px" />
                </dd>
        }

        <p>
            <span>Information: </span>@Model.Content
        </p>
        <p>
            <span>Year of production: </span>@Model.Year
        </p>
        <p>
            <span>Horse Power: </span>@Model.HorsePower
        </p>

        <p>
            <span>City: </span>@Model.City
        </p>
        <p>
            Price: <span class="text-danger">@Model.Price лв.</span>
        </p>

        <small class="author">
            Contact Person @Model.Author.FullName
        </small>
        <p>Call: @Model.Phone</p>
        <p>E-mail: @Model.Author.Email</p>


        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                
                @Html.ActionLink("Edit", "Edit", "Article", new {@id = Model.Id}, new {@class = "btn btn-success btn-xs"})
                @Html.ActionLink("Delete", "Delete", "Article", new {@id = Model.Id}, new {@class = "btn btn-danger btn-xs"})
            }

            @Html.ActionLink("Back", "Index", "Article", null, new {@class = "btn btn-default btn-xs"})
        </footer>
    </article>
</div>
<hr />
