@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <div class="col-sm-6">
            <article>
                @if (Model.Files.Any(f => f.FileType == Blog.Models.FileType.Avatar))
            {

                    <dd>
                        <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId"
                             alt="avatar" width="500px" />
                    </dd>
                }
            </article>
        </div>
        <div style="margin-top: 10px; font-size: 20px" class="text-info">
            <p>
                <span class="glyphicon glyphicon-list-alt"></span> Year of production: @Model.Year
            </p>
            <p>
                <span class="glyphicon glyphicon-flash"></span> Horse Power: @Model.HorsePower
            </p>

            <p>
                <span class="glyphicon glyphicon-home"></span> City: @Model.City
            </p>


            <p>
                <span class="glyphicon glyphicon-usd"></span> Price: <span class="text-danger">@Model.Price лв.</span>
            </p>
            

            <p>
                <span class="glyphicon glyphicon-user"></span> Contact Person: @Model.Author.FullName
            </p>
            <p>
                <span class="glyphicon glyphicon-earphone"></span> Call: @Model.Phone
            </p>

            <p>
                <span class="glyphicon glyphicon-envelope"></span> E-mail: @Model.Author.Email
            </p>
            <p>
                <span class="glyphicon glyphicon-globe"></span> Published on: @Model.DateCreated
            </p>

        </div>
                    
        <div class="col-sm-12">
            <br/>
            <article>
                <div class="pull-left">
                    <text>Information: @Model.Content</text>
                </div>
            </article>
        </div>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                
                @Html.ActionLink("Edit", "Edit", "Article", new {@id = Model.Id}, new {@class = "btn btn-success btn-xs"})
                @Html.ActionLink("Delete", "Delete", "Article", new {@id = Model.Id}, new {@class = "btn btn-danger btn-xs"})
            }

            @Html.ActionLink("Back", "Index", "Article", null, new {@class = "btn btn-default btn-xs"})
        </footer>
    </article>
</div>
<hr />
