@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <div class="col-sm-6">
            <article>
                @if (Model.Files.Any(f => f.FileType == Blog.Models.FileType.Avatar))
            {

                    <dd>
                        <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId"
                             alt="avatar" width="500px" />
                    </dd>
                }
            </article>
        </div>
        <div style="margin-top: 10px; font-size: 20px">
            <p>
                <li>Year of production: @Model.Year</li>
            </p>
            <p>
                <li>Horse Power: @Model.HorsePower</li>
            </p>

            <p>
                <li>City: @Model.City</li>
            </p>
            <p>
                <li>Price: <span class="text-danger">@Model.Price лв.</span></li>
            </p>

            <p>
                <li>Contact Person: @Model.Author.FullName</li>
            </p>
            <p>
                <li>Call: @Model.Phone</li>
            </p>

            <p>
                <li>E-mail: @Model.Author.Email</li>
            </p>
        </div>
        <div class="col-sm-12">
            <br/>
            <article>
                <p>
                    <span>Information: </span>@Model.Content
                </p>
            </article>
        </div>
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                
                @Html.ActionLink("Edit", "Edit", "Article", new {@id = Model.Id}, new {@class = "btn btn-success btn-xs"})
                @Html.ActionLink("Delete", "Delete", "Article", new {@id = Model.Id}, new {@class = "btn btn-danger btn-xs"})
            }

            @Html.ActionLink("Back", "Index", "Article", null, new {@class = "btn btn-default btn-xs"})
        </footer>
    </article>
</div>
<hr />
